body {
    font-family: 'Orbitron', sans-serif;
}

header {
    margin-left: 3rem;
}

h1 {
    color: rgb(2, 2, 2);
}

h2 {
    color: rgb(25, 84, 25);
    text-shadow: -1px 1px 0 #000,
            -3px 20px 0 #191919, 
            10px 35px 0 #323232, 
            -3px 50px 0 #4c4c4c, 
            10px 65px 0 #666666, 
            -3px 80px 0 #7f7f7f, 
            10px 95px 0 #999999, 
            -3px 110px #b2b2b2, 
            10px 125px #cccccc, 
            -3px 140px #e5e5e5, 
            10px 155px #e5e5e5, 
            -3px 170px #e5e5e5, 
            10px 185px #e5e5e5, 
            -3px 200px #e5e5e5, 
            10px 215px #e5e5e5, 
            -3px 200px #e5e5e5, 
            10px 215px #e5e5e5, 
            -3px 200px #e5e5e5, 
            10px 215px #e5e5e5, 
            -3px 200px #e5e5e5, 
            10px 215px #e5e5e5, 
            1px -1px 0 #000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    font-size: 20px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-top: 6px solid black;
}